<footer class="page-footer outer">

    <div class="inner">
    
        <div class="page-footer__logo outer">
        <img src="{{ theme:dist/images src="logo.svg" cache_bust="true" }}" width="140" alt="Sumo Group Plc logo">
        </div>
    
        <p class="page-footer__text">
        &copy; {{ now format="Y" }} Sumo Group Plc. All Rights Reserved.<br>
        All trademarks referenced herein are the properties of their respective owners.
        </p>
    
        <p class="page-footer__text">
        <a href="https://www.carrkamasa.co.uk" target="_blank">Website design &amp; development by Carr Kamasa Design</a>
        </p>
    
    </div>
    
</footer>