<section class="replicator-test outer"

	<div class="inner" style="display:block">

	{{ page_builder }}

		{{ if type == "full_width_image" }}

			<div style="display:block;float:left;width:100%">
				<p><strong>Full width image:</p></strong>
				<img src="{{ image }}">
			</div>

		{{ elseif type == "gallery" }}

			<div style="display:block;float:left;width:100%">
				<p><strong>Gallery:</p></strong>
				{{ assets:images }}
					<img src="{{ url }}" alt="{{ alt }}" />
				{{ /assets:images }}
			</div>

		{{ elseif type == "slider" }}

			<div style="display:block;float:left;width:100%">
				<p><strong>Slider:</p></strong>
				<div class="slider">
					{{ slides }}
						<div class="slide">
							<p>{{ slide_content }}</p>
						</div>
					{{ /slides }}
				</div>
			</div>

		{{ /if }}

	{{ /page_builder }}

	</div>

</section>