<section class="group-news">

    <div class="inner">

        <div class="group-news__post-list">

            {{ collection:company_news limit="3" }}

                <a class="news-item card" href="{{ url }}">

                    <div class="card__image-large background-cover" style="background-image:url('{{ hero_image }}')"></div>

                    <div class="card__body">
                        <p class="card__body--date">{{ date format="d/m/Y" }}</p>
                        <p class="card__body--title">
                            {{ title }} {{ site:testTag }}
                        </p>
                        <p class="card__excerpt">
                            {{ main_content | strip_tags | safe_truncate:200:... }}
                        </p>

                        <span href="{{ url }}" class="button">Read more</span>
                    </div>

                </a>

            {{ /collection:company_news }}
        
        </div>

    </div>

</section>