*,
*::before,
*::after {
	box-sizing: border-box;
}
	
html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
}

body {
	font: 300 18px/23px sans-serif;
	color: $grey;
}

h1 {
	font: 400 62px/75px $primary;
}
	
h2 {
	font: 300 18px/23px $primary;
}

h3 {
	font: 700 22px/100% $primary;
}

h4 {
	font: 400 18px/100% $primary;
}

p {
	font: 300 18px/23px $primary;
	margin-bottom: 15px;
}
	
img {
	max-width: 100%;
	height: auto;
}
