@font-face
	font-family "Circular"
	src url("../fonts/circular-light.woff2") format("woff2"),
		url("../fonts/circular-light.woff") format("woff")
	font-weight 300


@font-face
	font-family "Circular"
	src url("../fonts/circular-book.woff2") format("woff2"),
		url("../fonts/circular-book.woff") format("woff")
	font-weight 400


@font-face
	font-family "Circular"
	src url("../fonts/circular-bold.woff2") format("woff2"),
		url("../fonts/circular-bold.woff") format("woff")
	font-style bold
	fon-weight 700;

@font-face
	font-family "slick"
	src url("../fonts/slick.woff2") format("woff2"),
		url("../fonts/slick.woff") format("woff")
	font-style normal
	fon-weight 300;