<section class="regular">
	
	<header>
		<h1>{{ title }}</h1>
        {{ header_intro_text wrap="h3"}}
        <p>Video link: <a href="{{ header_video | embed_url }}">Video</a>
    </header>

	<article class="content">
		<h2>Slider</h2>
		{{ slides }}
			<div>
				{{ heading }}
				{{ main_content }}
				{{ assets:image }}
					<img src="{{ url }}" alt="{{ alt }}" />
				{{ /assets:image }}
			</div>
		{{ /slides }}
	</article>

	<article class="content">
		<h2>News tabs</h2>

		<h3>Blog</h3>
		{{ collection from="blog" limit="3" }}
			<a href="{{ url }}">{{ title }}</a><br>
		{{ /collection }}

		<h3>Reports</h3>
		{{ collection from="reports" limit="3" }}
			<a href="{{ url }}">{{ title }}</a>a><br>
		{{ /collection }}
	</article>
	
</section>